

@import "bourbon";
@import "neat";
@import "base/base";
@import "errors";
@import "modal";
@import "dragula";

body {
  margin: 0;
}

.relative {
  position: relative;
}

$mobile: new-breakpoint(max-width 500px 4);

.container {
  @include outer-container;
}

.span6 {
  @include span-columns(6);
}
.span4 {
  @include span-columns(4);
}
.span3 {
  @include span-columns(3);
}
.span8-end {
  @include span-columns(8);
  @include omega();
}
.right {
  float: right;
}
.left {
  float: left;
}

.full-vertical {
  min-height: 100vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  .half {
    max-width: 50%;
    text-align: center;
  }
}

.index {
  .full-vertical:nth-child(1) {
    background-color: #88D498;
  }
  .full-vertical:nth-child(2) {
    background-color: darken(#88D498, 10);
  }
  .full-vertical:nth-child(3) {
    background-color: darken(#88D498, 20);
  }
}

.bucket, .transaction {
  li {
    cursor: pointer;
    position: relative;
    min-height: 50px;
    @include clearfix;
    .left {
      left: 6px;
    }
    .right {
      left: -6px;
    }
    .form_in_place {
      display: inline-block !important;
      top: -4px;
      left: -8px;
      position: relative;
      input {
        margin: 0px;
      }
    }
  }
  overflow-y: auto;
}

#income, #fixed_cost, #financial_goal, #flexible_spending {
  height: 80vh;
}

li.gu-mirror {
  list-style-type: none;
  cursor: move;
  position: relative;
  min-height: 50px;
}

.progress-bar-indication {

  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $progress-animation-duration: 0.7s;
  $base-background-color: white !default;
  $progress-background: darken($base-background-color, 5);
  $progress-color: white;
  $border-width: 1px;

  border-radius: $base-border-radius;
  border: $border-width solid gainsboro;
  box-shadow: inset 0 0 3px 0 rgba(darken($progress-background, 50%), 0.15);
  margin: 0 auto;
  width: 100%;

  span.meter {
    border-radius: $base-border-radius / 1.5;
    box-sizing: border-box;
    display: block;
    height: 100%;
    position: absolute;
  }

  p {
    color: $progress-color;
    line-height: $base-line-height;
    margin: 0;
    padding: .1em .5em;
    text-shadow: 0 0 1px black;
    position: relative;
    top: 9px;
  }

  .main {
    min-height: 50px - $border-width * 2;
  }
  form {
    display: none;
    padding: 0px 11px 11px 11px;
    position: relative;
    input[type='submit'] {
      height: 36px;
      width: 100%;
      padding: 0.5em;
      background-color: darken(#88D498, 40);
      &:hover, &:active {
        background-color: darken(#88D498, 45);
      }
    }
  }
}

// #income {
//   .progress-bar-indication {
//     background-color: #114B5F;
//     &> span.meter {
//       background-color: darken(#114B5F, 10);
//     }
//   }
// }

// #fixed_cost {
//   .progress-bar-indication {
//     background-color: #1A936F;
//     &> span.meter {
//       background-color: darken(#1A936F, 10);
//     }
//   }
// }

// #financial_goal {
//   .progress-bar-indication {
//     background-color: #88D498;
//     &> span.meter {
//       background-color: darken(#88D498, 10);
//     }
//   }
// }

// .transaction {
//   .progress-bar-indication {
//     background-color: #C6DABF;
//   }
// }

#income {
  .progress-bar-indication {
    background-color: #88D498;
    span.meter {
      background-color: darken(#88D498, 20);
    }
  }
}

#fixed_cost {
  .progress-bar-indication {
    background-color: #88D498;
    span.meter {
      background-color: darken(#88D498, 20);
    }
  }
}

#financial_goal {
  .progress-bar-indication {
    background-color: #88D498;
    span.meter {
      background-color: darken(#88D498, 20);
    }
  }
}

.transaction {
  .progress-bar-indication {
    background-color: darken(#88D498, 20);
  }
}

// #plaid-link-button {
//   border: 10px solid pink;
// }

.group:after {
  content: "";
  display: table;
  clear: both;
}






.centered-navigation {
  $base-border-radius: 3px !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $centered-navigation-padding: 1em;
  $centered-navigation-logo-height: 2em;
  $centered-navigation-background: #E7F1EC;
  $centered-navigation-color: transparentize($base-font-color, 0.3);
  $centered-navigation-color-hover: $base-font-color;
  $centered-navigation-height: 60px;
  $centered-navigation-item-padding: 1em;
  $centered-navigation-submenu-padding: 1em;
  $centered-navigation-submenu-width: 12em;
  $centered-navigation-item-nudge: 2.2em;
  $horizontal-bar-mode: $large-screen;

  background-color: $centered-navigation-background;
  border-bottom: 1px solid darken($centered-navigation-background, 6%);
  min-height: $centered-navigation-height;
  width: 100%;
  z-index: 9999;


// Mobile view

  .mobile-logo {
    display: inline;
    float: left;
    max-height: $centered-navigation-height;
    padding-left: $centered-navigation-padding;

    img {
      max-height: $centered-navigation-height;
      opacity: .6;
      padding: .8em 0;
    }

    @include media($horizontal-bar-mode) {
      display: none;
    }
  }

  .centered-navigation-mobile-menu {
    color: $centered-navigation-color;
    display: block;
    float: right;
    line-height: $centered-navigation-height;
    margin: 0;
    padding-right: $centered-navigation-submenu-padding;
    text-decoration: none;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $centered-navigation-color-hover;
    }
  }


// Nav menu

  .centered-navigation-wrapper {
    @include outer-container;
    @include clearfix;
    position: relative;
    z-index: 999;
  }

  ul.centered-navigation-menu {
    -webkit-transform-style: preserve-3d;
// stop webkit flicker
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999;

    &.show {
      display: block;
    }

    @include media ($horizontal-bar-mode) {
      display: block;
      text-align: center;
    }
  }


// The nav items

  .nav-link:first-child {
    @include media($horizontal-bar-mode) {
      margin-left: $centered-navigation-item-nudge;
    }
  }

  ul li.nav-link {
    background: $centered-navigation-background;
    display: block;
    line-height: $centered-navigation-height;
    overflow: hidden;
    padding-right: $centered-navigation-submenu-padding;
    text-align: right;
    width: 100%;
    z-index: 9999;

    a {
      color: $centered-navigation-color;
      display: inline-block;
      outline: none;
      text-decoration: none;

      &:focus,
      &:hover {
        color: $centered-navigation-color-hover;
      }
    }

    @include media($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $centered-navigation-height;

      a {
        padding-right: $centered-navigation-item-padding;
      }
    }
  }

  li.logo.nav-link {
    display: none;
    line-height: 0;

    @include media($large-screen) {
      display: inline;
    }
  }

  .logo img {
    margin-bottom: -$centered-navigation-logo-height / 3;
    max-height: $centered-navigation-logo-height;
    opacity: 0.6;
  }


// Sub menus

  li.more.nav-link {
    padding-right: 0;

    @include media($large-screen) {
      padding-right: $centered-navigation-submenu-padding;
    }

    > ul > li:first-child a  {
      padding-top: 1em;
    }

    a {
      margin-right: $centered-navigation-submenu-padding;
    }

    > a {
      padding-right: 0.6em;
    }

    > a:after {
      @include position(absolute, auto -0.4em auto auto);
      color: $centered-navigation-color;
      content: "\25BE";
    }
  }

  li.more {
    overflow: visible;
    padding-right: 0;

    a {
      padding-right: $centered-navigation-submenu-padding;
    }

    > a {
      padding-right: 1.6em;
      position: relative;

      @include media($large-screen) {
        margin-right: $centered-navigation-submenu-padding;
      }

      &:after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: $centered-navigation-submenu-padding / 2;
      }
    }

    &:focus > .submenu,
    &:hover > .submenu {
      display: block;
    }

    @include media($horizontal-bar-mode) {
      padding-right: $centered-navigation-submenu-padding;
      position: relative;
    }
  }

  ul.submenu {
    display: none;
    padding-left: 0;

    @include media($horizontal-bar-mode) {
      left: -$centered-navigation-submenu-padding;
      position: absolute;
      top: 1.5em;
    }

    .submenu {
      @include media($horizontal-bar-mode) {
        left: $centered-navigation-submenu-width - 0.2em;
        top: 0;
      }
    }

    li {
      display: block;
      padding-right: 0;

      @include media($horizontal-bar-mode) {
        line-height: $centered-navigation-height / 1.3;

        &:first-child > a {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          padding-bottom: .7em;
        }
      }

      a {
        background-color: darken($centered-navigation-background, 3%);
        display: inline-block;
        text-align: right;
        text-decoration: none;
        width: 100%;

        @include media($horizontal-bar-mode) {
          background-color: $centered-navigation-background;
          padding-left: $centered-navigation-submenu-padding;
          text-align: left;
          width: $centered-navigation-submenu-width;
        }
      }
    }
  }
}